.card-notes {
  width: 50%;
  margin-top: 1.5rem;
  height: 46%;
  box-shadow: 0px 2px 5px 0px rgba(19, 68, 203, 0.14), 
        0px 1px 10px 0px rgba(0,0,0,0.12), 
        0px 2px 4px -1px rgba(0,0,0,0.2);
  border: none !important;
  position: relative;
  float: left;
}